/* header.css */

.navhead {
  background-color: #ffc107;
  height: 400px;
  width: 100%;
  height: 100%;
  padding-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
  box-sizing: border-box;
}

      /* Tablet Styles and desktop */
  @media (min-width: 768px) {
    .navhead {
    margin-top: 140px;
    padding: 10px;
    width: 30%;
    margin-right: 20px;
    margin-left: 20px;
        }
  }
      
.avatar {
  display: flex;
  align-items: flex-start;
}

.firstname {
  color: white;
}

h2 {
  font-family: 'Source Sans Pro', sans-serif;
  margin-top: 0;
}

.lastname {
  font-weight: 300;
}