.test{
  display: flex;
  justify-content: space-between;
  padding: 0;
}

button {
  font-family: 'Bungee', cursive;
  background-color: blue;
  color:#FFFFFF;  
}

.hidden {
  display: none;
}



  textarea {
  width: 100%;    
    border: none;
    border-bottom: 2px solid black;
    }