/* new-tweet.css */

.tweet {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}

button {
  font-family: 'Bungee', cursive;
  background-color: blue;
  color:#FFFFFF;  
}

.hidden {
  display: none;
}

.counter {
  font-family: 'Bungee', cursive;
}

.error {
  font-family: 'Bungee', cursive;
  color: red;
}

.tweetsfoot {
  color: #545149;
  background-color: #f4f1ec;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  font-family: 'Source Sans Pro', sans-serif;
  background-image: none;
  width: 100%;
  border: 2px solid black;
  border-top: none;
}

.tweetshead {
  height: 200px;
  border: 2px solid black;
  border-bottom: none;
}

.tweet-log {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  width: 100%;
  padding: .5em;
}

.tweetarea {
  width: 100%;    
  border: none;
  border-bottom: 3px solid black;
  display: flex;
  justify-content: space-between;
  padding: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}

.new-tweet {
  padding-top: 10px;
}

#tweets-container {
  padding-bottom: 20px;
  padding-top: 30px;
  padding-right: 20px;
}

/* Tablet Styles and Desktop */
@media only screen and (min-width: 768px) {
  .tweetarea {
    padding-top: 15px;
    width: 90%;
  }
  .new-tweet {
    padding-top: 140px;
    padding-right: 25px;
  }
  #tweets-container {
    width: 90%;
  }
  .tweet {
    width: 90%;
  }
}
    
    .articlebox:hover {
      box-shadow: 10px 5px 5px grey;
    }

    .articlebox:hover .tweet-message {
      font-weight: 700;
    }

    .articlebox:hover .tweet-log {
      font-weight: 700;
    }

    .articlebox {
      border: 1px solid black;
      margin-bottom: 20px;
    }

    .tweet-message {
    height: 60%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    padding: .5em;
    }

    .line {
      border-top: 3px solid black;
      position: absolute;
      left: 9%;
      right: 11%;
    }

    
    .tweetimg {
      width: 60px;
      height: 60px;
      vertical-align: middle;
      
    }
    
    .warning-message,
    .warning-message2 {
      display: none;
    }
    
    
    .warnimgshow {
      width: 30px;
      height: 30px;
      vertical-align: middle;
    }
    
    
    .warntextshow {
      display: flex;
      justify-content: center;
      align-items: center;
      color: red;
      font-size: 18px;
      padding: .5em;;
      border: 2px solid red;
    }
    
    .iconimg {
      width: 25px;
      height: 25px;
    }
    
    /* Tablet Styles and Desktop*/
  @media only screen and (min-width: 768px) {
  .line {
  position: relative; 
  left: 1%;
  right: 1%;
  
  }
  .warntextshow {
    width: 90%;  
      }
}
    
    
    
    