.tweetarea {
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.tweet {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;

}

.tweetshead {
  height: 300px;

}

button {
  font-family: 'Bungee', cursive;
  background-color: blue;
  color:#FFFFFF;  
}

.hidden {
  display: none;
}

.counter {
  font-family: 'Bungee', cursive;
}

.error {
  font-family: 'Bungee', cursive;
  color: red;
}

.tweetsfoot {
  color: #545149;
  background-color: #f4f1ec;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  font-family: 'Source Sans Pro', sans-serif;
  background-image: none;
  width: 100%;
  border: 2px solid black;
}

.tweetshead {
  height: 200px;
  border: 2px solid black;
}

div.tweet-log {
  display: flex;
  justify-content: space-between; 
  align-self: stretch;
  width: 100%;
  padding: 1em;
  img
}

  .tweetarea {
   width: 100%;    
    border: none;
    border-bottom: 3px solid black;
    }

    #tweet-container:hover {
    }

    #tweet-container {
      padding-bottom: 20px;
      padding-top: 30px;
    }

    
    .articlebox:hover {
      box-shadow: 10px 5px 5px grey;
    }

    .articlebox:hover .tweet-message {
      font-weight: 700;
    }

    .articlebox:hover .tweet-log {
      font-weight: 700;
    }

    .articlebox {
      border: 2px solid black;
    }


    .tweet-message {
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    }

    .tweetpic {
    width: 60px;
    height: 60px;
    }

